@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
    --header-height: 3rem;
    --body-bg-color: hsl(0, 0%, 98%);
    --btn-bgc: hsl(0, 0%, 8%);
    --paragraph-color: hsl(0, 0%, 41%);
    --paragraph-fz: 1.125rem;
    --font-medium: 500;
    --font-bold: 700;
}
/* ======Base======= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
   
    font-size: var(--paragraph-fz);
    color: var(--paragraph-color);
     background-color: var(--body-bg-color); 
    font-weight: var(--font-medium);
}

ul{
    
    list-style-type: none;
}
a{
    text-decoration: none;
   
}

/* ================Reuseable Css======== */
.section{
    padding: 4rem 0 4rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section_title{
    font-size: 2.5rem;
    font-weight: var(--font-bold);
    color: var(--btn-bgc);
    margin-bottom: 1rem;
    
}
.text_center{
    text-align: center;
}

/* =========Header=========== */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--body-bg-color);
}
.nav_bar{
    
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown_img{
    width: 18px;
}
.dd_menu-item {
    column-gap: 0.8rem;
}
.downarrow{
    width: 13px;
}

@media screen and (max-width: 767px) {
    .nav_menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100%;
        padding: 4rem 0 0 2rem;
        background-color: var(--body-bg-color);
        box-shadow: -5px 0 5px rgb(185, 181, 181) ;
        transition: 0.3s ease;
    }
    
    
}
.toggle_close{
    position: absolute;
    top: 0.7rem;
    right: 0.6rem;
    cursor: pointer;
    
}
.toggle_bar{
    
    cursor: pointer;
}
/* ==========Show Menu=========== */
.show_menu{
    right: 0rem;
}
/* ==========Buttons============= */
.nav_button{
    padding: 0.5rem 4rem;
    background-color: transparent;
    border: 2px solid var(--paragraph-color);
    border-radius: 17px;
}
.small_btn{
    padding: 0.6rem 1.5rem;
    border-radius: 15px;
    background-color: var(--btn-bgc);
    border: none;
    color: var(--body-bg-color);
}
/* ========For dropdown========= */
.close{
    height: 0;
   
    overflow: hidden;
}
.rotate{
    transform: rotate(-180deg);
}
/* =====================Home=================== */
.home,
.home_container{
    row-gap: 2.5rem;
}
.home_logos{
    justify-self: center;
}
.home_description{
    font-size: 18px;
}
/* ==================Media Quaries============= */
/* For small devices */
@media screen and (max-width: 375px){
    .section_title{
        font-size: 1.5rem;
    }
    .small_btn{
        padding: 0.5rem 1rem;
        font-size: 14px;
        border-radius: 10px;

    }
    .nav_button{
        padding: 0.3rem 2rem;
        border-radius: 15px;
    }
}

/* For medium devices */
@media screen and (min-width:768px) {
    .toggle_close,
    .toggle_bar{
        display: none;
    }
   
    .nav_button{
        padding: 0.4rem 1.5rem;
        border-radius: 15px;
    }
    .nav_bar{
        column-gap: 3rem;
        
    }
     #features-menu,#company-menu{ 
       width: 180px;
        background-color: var(--body-bg-color);
        box-shadow: -5px 0 5px rgb(185, 181, 181) ;
        border-radius: 10px;
    }
    #company-menu{
        width: 140px;
    }
    .dd_menu-item {
        padding-left: 1.5rem;
       
    }
    .section{
        padding-top: 6rem;
    }
    .small_btn{
        padding: 0.8rem 1.7rem;
    }
    
}

@media screen and (min-width: 967px) {
    .section{
        padding: 8rem 0 2rem;
    }
    .home{
        grid-template-columns: repeat(2 , 1fr); 
    }
    .home_container{
        order: -1;
    }
 
    .text_center{
        text-align: left;
    }
    .home_logos{
        justify-self: unset;
    }
    .section_title{
        font-size: 3.5rem;
        line-height: 1;
    }
   
    
}

/* For large devices */
@media screen and (min-width:1280px){
    .section_title{
        font-size: 6.2rem;
        line-height: 1;
    }
    .home_description{
        font-size: 20px;
        margin-bottom: 2rem;
    }
    
}
@media screen and (min-width:1536px){
    .section_title{
        font-size: 7.5rem;
        line-height: 1;
    }
    .home_description{
        font-size: 22px;
        margin-bottom: 2rem;
    }
    
}



